.app-container {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.rectangle {
  position: absolute;
  width: 609px;
  height: 644px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 45px;
  background: rgba(197, 197, 197, 0.4);
  backdrop-filter: blur(19.7px);
  -webkit-backdrop-filter: blur(19.7px);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}